html {
  font-size: 13px;
}
body {
  font-family: 'Ubuntu', sans-serif;
}
a,
a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
.post h1 {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}
.post h2 {
  margin-top: 0.5em;
  margin-bottom: 0;
}
.post p {
  margin: 0;
}
.post .codehilite pre {
  overflow-x: auto;
  background-color: #efefef;
  padding-top: 1em;
  padding-bottom: 1em;
}
img {
  max-width: 100%;
}
.avatar {
  border-radius: 50%;
}
.blog-header {
  margin-bottom: 3em;
  margin-top: 3em;
  display: flex;
  align-items: center;
}
.post_date {
  color: #666666;
  font-style: italic;
}
h1,
h1 * {
  font-size: 1.7rem;
}
@media (max-width:750px) {
  h1,
  h1 * {
    font-size: 1.6rem;
  }
}
h2,
h2 * {
  font-size: 1.6rem;
}
@media (max-width:750px) {
  h2,
  h2 * {
    font-size: 1.5rem;
  }
}
h3,
h3 * {
  font-size: 5rem;
}
@media (max-width:750px) {
  h3,
  h3 * {
    font-size: 1.4rem;
  }
}
h4,
h4 * {
  font-size: 1.4rem;
}
@media (max-width:750px) {
  h4,
  h4 * {
    font-size: 1.3rem;
  }
}
h5,
h5 * {
  font-size: 1.3rem;
}
@media (max-width:750px) {
  h5,
  h5 * {
    font-size: 1.2rem;
  }
}
h6,
h6 * {
  font-size: 1.2rem;
}
@media (max-width:750px) {
  h6,
  h6 * {
    font-size: 1.1rem;
  }
}
